.userProfile{
    margin: 0 32px 0px;
    height: 56px;
    display: flex;
    align-items: center;
}

.userProfile:hover{
    background: #503E9D;
    opacity: 0.3;
    border-radius: 12px;
}


.userProfile:nth-child(6){
    margin-bottom: 45px;
}

.userProfile:nth-child(7){
    position: relative;
}

.userProfile:nth-child(7)::after{
    content: "";
    display: block;
    width: 271px;
    height: 2px;
    background-color: #E8E8E8;
    position: absolute;
    bottom: -16px;
    left: -15px;
    
}

.itemIcon{
    margin-right: 24px;
    vertical-align: middle;
}

.itemName{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
    vertical-align: middle;
}
.itemName:hover{
    font-weight: bold;
    color:#503E9D;
}
