.navElement{}

.navIcon{
    margin-right: 12px;
    vertical-align: middle;
}

.navName{
    font-weight: 600;
    font-size: 14px;
    line-height: 126%;
    color: #182135;
    vertical-align: middle;
    position: relative;
    margin-right: 44px;
}
.navName::after {
    content: "";
    display: block;
    width: 10px;
    height: 18px;
    background-image: url(./../../assets/img/upDown.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    right: -19px;
    
}