.App{
    background-color: #F2F2F2;
    /* border:1px solid red; */
    height: 100vh;
    width: 1440px;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 67px 1fr;
    grid-template-areas: 
    "s h"
    "s c";
}


.header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* border:1px solid rgb(231, 247, 10); */
    /* overflow: hidden; */
    padding: 32px 32px 0 32px;
}

.nav{
    display: flex;
}

.right-block{
    display: flex;
    justify-content: space-between;
    
}


.searchWrap{
    position: relative;
}

.searchWrap::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background-image:url(./assets/img/searchIcon.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 17px;
}

.formSearch{
    height: 46px;
    background-color:#F7F7F7;
    border-radius: 10px;
    border: none;
    min-width: 386px;
    margin-right: 16px;
}


.formSearch::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #626264;
    padding-left: 48px;
    position: relative;
}

.iconFill{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.photoAvatar{
    width: 48px;
    height: 48px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.sidebar{
    grid-area: s;
    border-radius: 0px 24px 24px 0px;
    background-color:#F8F8F8;
}

.logoWrap{
    margin: 33px auto 29px;
    max-width: 188px;
}
.dailyLogo{
    width: 100%;
}

.profileList{
    padding-left: 15px;
    margin: 0 auto;

}

.profilePoint{
    list-style-type: none;
    background-color:transparent;
    height: 56px;
    display: flex;
    align-items: center;
}

.profilePoint:nth-child(6){
    margin-bottom: 92px;
}

.profilePoint:nth-child(7){
    position: relative;
}

.profilePoint:nth-child(7)::after{
    content: "";
    display: block;
    width: 271px;
    height: 2px;
    background-color: #E8E8E8;    
    position: absolute;
    bottom: -17px;
    left: -2px;
}

.profileItemLink{
    cursor: pointer;
    text-decoration: none;
}

.sidebarBottom{
    margin-top: 50px;
}
.sidebarCard {
    max-width: 240px;
    height: 324px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
    padding-bottom: 32px;
    border-radius: 20px;
    z-index: 100;
}
.sidebarCard::before{
    content:"";
    display: block;
    background: #fff;
    width: 208px;
    height: 324px;
    position: absolute;
    left: 46px;
    bottom: 32px;
    box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border:1px solid blue;
    z-index: -1;
}

.sidebarBottom::after {
    content: "";
    display: block;
    position: absolute;
    width: 176px;
    height: 324px;
    top: 55px;
    left: 65px;
    background: #fff;
    box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border:1px solid red;
    z-index: -2;
}


.sidebarImg {
    width: 64px;
    height: 64px;
    margin: 32px auto 24px;
    z-index: inherit;
}

.sidebarTitle {
    color: #182135;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 176px;
    text-align: center;
    margin-bottom: 8px;
    z-index: inherit;
}

.sidebarRedText{
    color: #FB6D3A;
    text-decoration-line: underline;
    z-index: inherit;
}

.sidebarText {
    color: #626264;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    max-width: 155px;
    text-align: center;
    margin-bottom: 32px;
    z-index: inherit;
}
.sidebarBtn {
    width: 176px;
    height: 48px;
    background: #503E9D;
    border:none;
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #F7FAFC;
    position: relative;
    margin: 0 auto;
    z-index: inherit;
}

.sidebarBtn::after {
    content: "";
    position: absolute;
    background-image: url(./assets/img/arrowRight.svg);
    background-repeat: no-repeat;
    top: 17px;
    right: 3px;
    width: 16px;
    height: 13px;
}


.main{
    grid-area: c;
    padding: 0 32px;
    overflow: hidden;
}

.channel-block{
    display: flex;
    justify-content: space-between;
}

.block-content{
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

