.App{
    background-color: #F2F2F2;
    height: 100vh;
    

    
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "s h"
    "s c";
}

.header{
    grid-area: h;
    display: flex;
}

.nav{
    display: flex;
    align-items: baseline;
}

.formSearch{
    height: 48px;
    background: #F7F7F7;
    border-radius: 10px;
    border: none;
    min-width: 385px;
    margin-top: 30px;
}
.formSearch::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #626264;
    padding-left: 48px;
}
.sidebar{
    grid-area: s;
    background-color:#F8F8F8;
}

.main{
    grid-area: c;
    padding: 32px;
}

.channel-block{
    display: flex;
    justify-content: space-between;
}

.block-content{
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

