.App{
    background-color: #F2F2F2;
    /* border:1px solid red; */
    height: 100vh;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 67px 1fr;
    grid-template-areas: 
    "s h"
    "s c";
}


.header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border:1px solid rgb(231, 247, 10);
    /* overflow: hidden; */
    padding: 32px 32px 0 32px;
}

.nav{
    display: flex;
}

.right-block{
    display: flex;
    justify-content: space-between;
    
}


.searchWrap{
    position: relative;
}

.searchWrap::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background-image:url(./assets/img/searchIcon.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 17px;
}

.formSearch{
    height: 46px;
    background-color:#F7F7F7;
    border-radius: 10px;
    border: none;
    min-width: 386px;
    margin-right: 16px;
}


.formSearch::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #626264;
    padding-left: 48px;
    position: relative;
}

.iconFill{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.photoAvatar{
    width: 48px;
    height: 48px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.sidebar{
    grid-area: s;
    background-color:#F8F8F8;
    border:1px solid rgb(233, 33, 7);
    overflow: hidden;
}

.logoWrap{
    margin: 33px auto 29px;
    max-width: 188px;
}
.dailyLogo{
    width: 100%;
}

.profileBlock{}

.profileList{
    /* border:1px solid yellow; */
    padding-left: 0;
    max-width: 272px;
    margin: 0 auto;

}

.profilePoint{
    /* border:1px solid green; */
    list-style-type: none;
    background-color:transparent;
    padding-left: 16px;
    height: 56px;
    display: flex;
    align-items: center;
}

.profilePoint:hover{
    background-color: rgba(80, 62, 157, 0.1);
    border: none;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.profilePoint:nth-child(6){
    margin-bottom: 92px;
}

.profilePoint:nth-child(7){
    position: relative;
}

.profilePoint:nth-child(7)::after{
    content: "";
    display: block;
    width: 271px;
    height: 2px;
    background-color: #E8E8E8;    
    position: absolute;
    bottom: -17px;
    left: -2px;
}

.profileItemLink{
    cursor: pointer;
}


.main{
    grid-area: c;
    padding: 0 32px;
    border:1px solid rgb(16, 182, 11);
    overflow: hidden;
}

.channel-block{
    display: flex;
    justify-content: space-between;
}

.block-content{
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}