.new{
    display: flex;
    flex-direction: column;
}

.thumbnailImg{
    border-radius: 12px;
    background-repeat:no-repeat;
    margin-bottom: 16px;
}

.title{
    display: block;
    max-width: 224px;
}

.info{
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-gap: 36px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: ;
}